In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('Contoh data.xlsx')

In [3]:
def patient_admission_by_state_per_year(df):
    df['admitted_date'] = pd.to_datetime(df['admitted_date'])
    df['year'] = df['admitted_date'].dt.year
    agg = df.groupby(['year','state'])[['admission_id']].count()
    agg = agg.rename(columns={'admission_id':'total_admitted_patients'})
    return agg

In [20]:
def patient_admissions_revenues_per_annum(df):
    """
    Function to generate annual report
    Args:
    - df: pandas.DataFrame -> queried data (prefix: patient_admissions_by_....).
        E.g., patient_admissions_by_country, patient_admissions_by_state, etc.
    """
    df['admitted_date'] = pd.to_datetime(df['admitted_date'])
    df['year'] = df['admitted_date'].dt.year
    agg = df.groupby('year',as_index=False)[['room_rate_total']].sum()
    agg = agg.rename(columns={'room_rate_total':'total_revenues'})
    return agg

In [24]:
ptarpa = patient_admissions_revenues_per_annum(data)

In [29]:
ptarpa

   year  total_revenues
0  2001            1900
1  2003            1000
2  2006            2400
3  2007             600

In [30]:
def format_json_linechart(df):
    """
    fungsi ini digunakan untuk mengconvert format dataframe menjadi format
    inputan javascript untuk plot linechart
    """
    output = {"id" : "USA"}
    data = []
    column = list(df.columns)
    for i in range(len(df)):
        data.append({"x":str(df[column[0]][i]),
                      "y":df[column[1]][i]})
    output["data"] = data
    return output

In [31]:
format_json_linechart(ptarpa)

{'id': 'USA',
 'data': [{'x': '2001', 'y': 1900},
  {'x': '2003', 'y': 1000},
  {'x': '2006', 'y': 2400},
  {'x': '2007', 'y': 600}]}

In [9]:
def revenues_by_state_per_annum(df):
    """
    function to generate report revenue per year by state
    """
    df['admitted_date'] = pd.to_datetime(df['admitted_date'])
    df['year'] = df['admitted_date'].dt.year
    agg = df.groupby(['year','state'])[['room_rate_total']].sum()
    agg = agg.rename(columns={'room_rate_total':'total_revenues'})
    return agg

In [10]:
rbtpa = revenues_by_state_per_annum(data)
rbtpa = rbtpa.reset_index()

In [ ]:
rbtpa.to_json("rbtpa1.json")

In [ ]:
output = []
for i in range(len(rbtpa)):
    x = {'year':rbtpa['year'][i],
        'state':rbtpa['state'][i],
        'total_revenues':rbtpa['total_revenues'][i]}
    output.append(x)

In [ ]:
import json

In [ ]:
rbtpa.iloc[0].to_dict()

In [22]:
#untuk tampilan tabel
def format_json_table(df):
    """
    format_json fangsi digunakna untuk mengubah format dataframe ke bentuk inputan
    javascript.
    """
    output = []
    columns = list(df.columns)
    for i in range(len(df)):
        output.append(df.iloc[i].to_dict())
    return output

In [ ]:
#untuk tampilan tabel
def format_json(df):
    output = []
    columns = list(df.columns)
    for i in range(len(df)):
        x = {}
        for col in columns:
            x[col] = df[col][i]
        output.append(x)
#     json.dumps(output)
    return output

In [12]:
format_json(rbtpa)

[{'year': 2001, 'state': 'A', 'total_revenues': 900},
 {'year': 2001, 'state': 'B', 'total_revenues': 500},
 {'year': 2001, 'state': 'C', 'total_revenues': 200},
 {'year': 2001, 'state': 'D', 'total_revenues': 300},
 {'year': 2003, 'state': 'A', 'total_revenues': 300},
 {'year': 2003, 'state': 'B', 'total_revenues': 200},
 {'year': 2003, 'state': 'C', 'total_revenues': 400},
 {'year': 2003, 'state': 'D', 'total_revenues': 100},
 {'year': 2006, 'state': 'A', 'total_revenues': 400},
 {'year': 2006, 'state': 'B', 'total_revenues': 500},
 {'year': 2006, 'state': 'C', 'total_revenues': 500},
 {'year': 2006, 'state': 'D', 'total_revenues': 1000},
 {'year': 2007, 'state': 'B', 'total_revenues': 200},
 {'year': 2007, 'state': 'C', 'total_revenues': 100},
 {'year': 2007, 'state': 'D', 'total_revenues': 300}]