In [1]:
import pandas as pd
from pickle import dump, load

In [2]:
from reports import CountryReports

In [3]:
import time

# CountryReports

In [4]:
start_time = time.time()
idn_instance = CountryReports('idn')
print("--- %s seconds ---" % (time.time() - start_time))

Accessing DC: idn
--- 4.557899713516235 seconds ---

## Test DB Funcs

In [5]:
rooms_by_carecenter = idn_instance.rooms_by_carecenter()
rooms_by_carecenter

    care_center_id          room_id    rate room_type
0         cc-idn-2     r-idn-i-0759  315.24   Class I
1         cc-idn-2     r-idn-i-1546  315.24   Class I
2         cc-idn-2     r-idn-i-2054  315.24   Class I
3         cc-idn-2     r-idn-i-2385  315.24   Class I
4         cc-idn-2     r-idn-i-3531  315.24   Class I
..             ...              ...     ...       ...
195       cc-idn-1  r-idn-vvip-6869  970.83      VVIP
196       cc-idn-1  r-idn-vvip-8077  970.83      VVIP
197       cc-idn-1  r-idn-vvip-8917  970.83      VVIP
198       cc-idn-1  r-idn-vvip-9507  970.83      VVIP
199       cc-idn-1  r-idn-vvip-9945  970.83      VVIP

[200 rows x 4 columns]

In [6]:
with open('./idn_test/rooms_by_carecenter.pkl', 'wb') as fh:
    dump(rooms_by_carecenter, fh)

In [7]:
with open('./idn_test/rooms_by_carecenter.pkl', 'rb') as fh:
    loaded = load(fh)

loaded

    care_center_id          room_id    rate room_type
0         cc-idn-2     r-idn-i-0759  315.24   Class I
1         cc-idn-2     r-idn-i-1546  315.24   Class I
2         cc-idn-2     r-idn-i-2054  315.24   Class I
3         cc-idn-2     r-idn-i-2385  315.24   Class I
4         cc-idn-2     r-idn-i-3531  315.24   Class I
..             ...              ...     ...       ...
195       cc-idn-1  r-idn-vvip-6869  970.83      VVIP
196       cc-idn-1  r-idn-vvip-8077  970.83      VVIP
197       cc-idn-1  r-idn-vvip-8917  970.83      VVIP
198       cc-idn-1  r-idn-vvip-9507  970.83      VVIP
199       cc-idn-1  r-idn-vvip-9945  970.83      VVIP

[200 rows x 4 columns]

In [8]:
beds_by_room = idn_instance.beds_by_room()
beds_by_room

             room_id      bed_id care_center_id
0     r-idn-iii-2029  b-idn-0228       cc-idn-1
1     r-idn-iii-2029  b-idn-7679       cc-idn-1
2     r-idn-iii-2029  b-idn-8683       cc-idn-1
3     r-idn-iii-2029  b-idn-8692       cc-idn-2
4      r-idn-ii-6309  b-idn-7010       cc-idn-2
..               ...         ...            ...
487    r-idn-ii-9669  b-idn-9073       cc-idn-1
488  r-idn-vvip-8376  b-idn-0376       cc-idn-1
489  r-idn-vvip-8376  b-idn-5729       cc-idn-1
490  r-idn-vvip-8376  b-idn-9110       cc-idn-2
491  r-idn-vvip-8376  b-idn-9640       cc-idn-1

[492 rows x 3 columns]

In [9]:
with open('./idn_test/beds_by_room.pkl', 'wb') as fh:
    dump(beds_by_room, fh)

In [10]:
carecenters_by_city = idn_instance.carecenters_by_city()
carecenters_by_city

,city,care_center_id,address,care_center_name
0,J,cc-idn-2,"(Jl. Jend. Sudirman, J, J, 31619, IDN)",Rumah Sakit Mitra Keluarga MVCH
1,D,cc-idn-1,"(Jl. Diponegoro, D, B, 37164, IDN)",Medistra MVCH

In [11]:
carecenters_by_state = idn_instance.carecenters_by_state()
carecenters_by_state

,state,care_center_id,address,care_center_name
0,J,cc-idn-2,"(Jl. Jend. Sudirman, J, J, 31619, IDN)",Rumah Sakit Mitra Keluarga MVCH
1,B,cc-idn-1,"(Jl. Diponegoro, D, B, 37164, IDN)",Medistra MVCH

In [12]:
carecenters_by_country = idn_instance.carecenters_by_country()
carecenters_by_country

,country,care_center_id,address,care_center_name
0,IDN,cc-idn-1,"(Jl. Diponegoro, D, B, 37164, IDN)",Medistra MVCH
1,IDN,cc-idn-2,"(Jl. Jend. Sudirman, J, J, 31619, IDN)",Rumah Sakit Mitra Keluarga MVCH

In [13]:
patient_admissions_by_carecenter = idn_instance.patient_admissions_by_carecenter()
patient_admissions_by_carecenter

,care_center_id,admission_id,admitted_causes,admitted_date,bed_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total
0,cc-idn-2,adm-idn-0008,Inhaled foreign body in respiratory tract,2012-10-24,b-idn-6764,2012-11-06,p-idn-0882,r-idn-ii-0708,196.48,2554.24
1,cc-idn-2,adm-idn-0059,Colic prolonged infant crying episodes,2022-09-06,b-idn-4962,2022-09-08,p-idn-0361,r-idn-i-0942,434.31,868.62
2,cc-idn-2,adm-idn-0061,Caffeine use,2017-09-12,b-idn-9726,2017-09-18,p-idn-0330,r-idn-vvip-5521,998.25,5989.50
3,cc-idn-2,adm-idn-0070,Epidermal cyst,2022-07-20,b-idn-9223,2022-07-23,p-idn-0112,r-idn-i-9749,434.31,1302.93
4,cc-idn-2,adm-idn-0074,"Warfarin Coumadin, Jantoven overdose",2022-04-16,b-idn-5390,2022-04-19,p-idn-0914,r-idn-i-2608,434.31,1302.93
...,...,...,...,...,...,...,...,...,...,...
952,cc-idn-1,adm-idn-9854,Hematocele collection of blood around testicle,2022-02-11,b-idn-8504,2022-02-21,p-idn-0601,r-idn-i-2314,456.33,4563.30
953,cc-idn-1,adm-idn-9930,"Thrombotic thrombocytopenia purpura TTP, rare ...",2013-10-25,b-idn-7714,2013-10-27,p-idn-0624,r-idn-iii-3072,98.47,196.94
954,cc-idn-1,adm-idn-9982,Head lice,2021-11-22,b-idn-0030,2021-11-28,p-idn-0152,r-idn-i-5295,456.33,2737.98
955,cc-idn-1,adm-idn-9985,Tonsillar cancer tumor tongue,2019-03-31,b-idn-4495,2019-04-08,p-idn-0624,r-idn-ii-3318,245.60,1964.80
956,cc-idn-1,adm-idn-9997,Polycystic kidney disease inherited kidney dis...,2017-09-27,b-idn-4495,2017-10-29,p-idn-0932,r-idn-iii-6944,98.47,3151.04

In [14]:
with open('./idn_test/patient_admissions_by_carecenter.pkl', 'wb') as fh:
    dump(patient_admissions_by_carecenter, fh)

In [15]:
patient_admissions_by_room = idn_instance.patient_admissions_by_room()
patient_admissions_by_room

,room_id,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_rate_per_night,room_rate_total
0,r-idn-iii-2029,adm-idn-0349,Coronary artery anomaly heart artery malformation,2014-08-21,b-idn-5637,cc-idn-1,2014-08-24,p-idn-0976,98.47,295.41
1,r-idn-iii-2029,adm-idn-2895,Blocked tear duct dacryostenosis,2020-09-04,b-idn-6487,cc-idn-2,2020-09-13,p-idn-0491,103.62,932.58
2,r-idn-iii-2029,adm-idn-3903,Colonic diverticulitis inflammation of pouches...,2016-08-09,b-idn-9961,cc-idn-1,2016-09-11,p-idn-0465,98.47,3249.51
3,r-idn-iii-2029,adm-idn-4946,Polyphagia overeating,2016-11-25,b-idn-0337,cc-idn-1,2016-12-09,p-idn-0883,98.47,1378.58
4,r-idn-iii-2029,adm-idn-7990,Small cell lung cancer,2021-05-31,b-idn-5946,cc-idn-2,2021-06-07,p-idn-0179,103.62,725.34
...,...,...,...,...,...,...,...,...,...,...
952,r-idn-ii-1854,adm-idn-8864,Nasopharyngeal carcinoma tumor,2012-09-02,b-idn-4305,cc-idn-1,2012-09-21,p-idn-0056,245.60,4666.40
953,r-idn-ii-9669,adm-idn-5225,Esophageal cyst,2015-07-20,b-idn-1714,cc-idn-1,2015-07-25,p-idn-0006,245.60,1228.00
954,r-idn-ii-9669,adm-idn-5591,Muscle strain pulled muscle,2019-01-26,b-idn-5969,cc-idn-2,2019-01-30,p-idn-0903,196.48,785.92
955,r-idn-vvip-8376,adm-idn-5518,Colitis large intestine inflammation,2017-10-01,b-idn-2991,cc-idn-2,2017-10-16,p-idn-0867,998.25,14973.75
956,r-idn-vvip-8376,adm-idn-6162,Moles nevi,2014-02-20,b-idn-1046,cc-idn-1,2014-02-27,p-idn-0672,867.07,6069.49

In [16]:
with open('./idn_test/patient_admissions_by_room.pkl', 'wb') as fh:
    dump(patient_admissions_by_room, fh)

In [17]:
patient_admissions_by_city = idn_instance.patient_admissions_by_city()
patient_admissions_by_city

,city,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total
0,J,adm-idn-0008,Inhaled foreign body in respiratory tract,2012-10-24,b-idn-6764,cc-idn-2,2012-11-06,p-idn-0882,r-idn-ii-0708,196.48,2554.24
1,J,adm-idn-0059,Colic prolonged infant crying episodes,2022-09-06,b-idn-4962,cc-idn-2,2022-09-08,p-idn-0361,r-idn-i-0942,434.31,868.62
2,J,adm-idn-0061,Caffeine use,2017-09-12,b-idn-9726,cc-idn-2,2017-09-18,p-idn-0330,r-idn-vvip-5521,998.25,5989.50
3,J,adm-idn-0070,Epidermal cyst,2022-07-20,b-idn-9223,cc-idn-2,2022-07-23,p-idn-0112,r-idn-i-9749,434.31,1302.93
4,J,adm-idn-0074,"Warfarin Coumadin, Jantoven overdose",2022-04-16,b-idn-5390,cc-idn-2,2022-04-19,p-idn-0914,r-idn-i-2608,434.31,1302.93
...,...,...,...,...,...,...,...,...,...,...,...
952,D,adm-idn-9854,Hematocele collection of blood around testicle,2022-02-11,b-idn-8504,cc-idn-1,2022-02-21,p-idn-0601,r-idn-i-2314,456.33,4563.30
953,D,adm-idn-9930,"Thrombotic thrombocytopenia purpura TTP, rare ...",2013-10-25,b-idn-7714,cc-idn-1,2013-10-27,p-idn-0624,r-idn-iii-3072,98.47,196.94
954,D,adm-idn-9982,Head lice,2021-11-22,b-idn-0030,cc-idn-1,2021-11-28,p-idn-0152,r-idn-i-5295,456.33,2737.98
955,D,adm-idn-9985,Tonsillar cancer tumor tongue,2019-03-31,b-idn-4495,cc-idn-1,2019-04-08,p-idn-0624,r-idn-ii-3318,245.60,1964.80
956,D,adm-idn-9997,Polycystic kidney disease inherited kidney dis...,2017-09-27,b-idn-4495,cc-idn-1,2017-10-29,p-idn-0932,r-idn-iii-6944,98.47,3151.04

In [18]:
with open('./idn_test/patient_admissions_by_city.pkl', 'wb') as fh:
    dump(patient_admissions_by_city, fh)

In [19]:
patient_admissions_by_state = idn_instance.patient_admissions_by_state()
patient_admissions_by_state

,state,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total
0,J,adm-idn-0008,Inhaled foreign body in respiratory tract,2012-10-24,b-idn-6764,cc-idn-2,2012-11-06,p-idn-0882,r-idn-ii-0708,196.48,2554.24
1,J,adm-idn-0059,Colic prolonged infant crying episodes,2022-09-06,b-idn-4962,cc-idn-2,2022-09-08,p-idn-0361,r-idn-i-0942,434.31,868.62
2,J,adm-idn-0061,Caffeine use,2017-09-12,b-idn-9726,cc-idn-2,2017-09-18,p-idn-0330,r-idn-vvip-5521,998.25,5989.50
3,J,adm-idn-0070,Epidermal cyst,2022-07-20,b-idn-9223,cc-idn-2,2022-07-23,p-idn-0112,r-idn-i-9749,434.31,1302.93
4,J,adm-idn-0074,"Warfarin Coumadin, Jantoven overdose",2022-04-16,b-idn-5390,cc-idn-2,2022-04-19,p-idn-0914,r-idn-i-2608,434.31,1302.93
...,...,...,...,...,...,...,...,...,...,...,...
952,B,adm-idn-9854,Hematocele collection of blood around testicle,2022-02-11,b-idn-8504,cc-idn-1,2022-02-21,p-idn-0601,r-idn-i-2314,456.33,4563.30
953,B,adm-idn-9930,"Thrombotic thrombocytopenia purpura TTP, rare ...",2013-10-25,b-idn-7714,cc-idn-1,2013-10-27,p-idn-0624,r-idn-iii-3072,98.47,196.94
954,B,adm-idn-9982,Head lice,2021-11-22,b-idn-0030,cc-idn-1,2021-11-28,p-idn-0152,r-idn-i-5295,456.33,2737.98
955,B,adm-idn-9985,Tonsillar cancer tumor tongue,2019-03-31,b-idn-4495,cc-idn-1,2019-04-08,p-idn-0624,r-idn-ii-3318,245.60,1964.80
956,B,adm-idn-9997,Polycystic kidney disease inherited kidney dis...,2017-09-27,b-idn-4495,cc-idn-1,2017-10-29,p-idn-0932,r-idn-iii-6944,98.47,3151.04

In [20]:
with open('./idn_test/patient_admissions_by_state.pkl', 'wb') as fh:
    dump(patient_admissions_by_state, fh)

In [21]:
patient_admissions_by_country = idn_instance.patient_admissions_by_country()
patient_admissions_by_country

,country,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total
0,IDN,adm-idn-0003,Dissecting aortic aneurysm tearing and dilatio...,2014-12-21,b-idn-8925,cc-idn-1,2014-12-28,p-idn-0976,r-idn-ii-2866,245.60,1719.20
1,IDN,adm-idn-0008,Inhaled foreign body in respiratory tract,2012-10-24,b-idn-6764,cc-idn-2,2012-11-06,p-idn-0882,r-idn-ii-0708,196.48,2554.24
2,IDN,adm-idn-0029,Mitral regurgitation leaking heart valve,2022-07-10,b-idn-3797,cc-idn-1,2022-07-22,p-idn-0411,r-idn-vvip-2552,867.07,10404.84
3,IDN,adm-idn-0058,Symptomatic dermatographism exaggerated skin r...,2014-05-22,b-idn-8284,cc-idn-1,2014-05-30,p-idn-0045,r-idn-i-5629,456.33,3650.64
4,IDN,adm-idn-0059,Colic prolonged infant crying episodes,2022-09-06,b-idn-4962,cc-idn-2,2022-09-08,p-idn-0361,r-idn-i-0942,434.31,868.62
...,...,...,...,...,...,...,...,...,...,...,...
952,IDN,adm-idn-9947,Epiglottitis severe throat inflammation,2012-05-13,b-idn-9218,cc-idn-2,2012-05-19,p-idn-0202,r-idn-vvip-5420,998.25,5989.50
953,IDN,adm-idn-9982,Head lice,2021-11-22,b-idn-0030,cc-idn-1,2021-11-28,p-idn-0152,r-idn-i-5295,456.33,2737.98
954,IDN,adm-idn-9985,Tonsillar cancer tumor tongue,2019-03-31,b-idn-4495,cc-idn-1,2019-04-08,p-idn-0624,r-idn-ii-3318,245.60,1964.80
955,IDN,adm-idn-9993,Vesicovaginal fistula connection between the b...,2019-06-11,b-idn-1584,cc-idn-2,2019-06-17,p-idn-0728,r-idn-iii-6944,103.62,621.72
956,IDN,adm-idn-9997,Polycystic kidney disease inherited kidney dis...,2017-09-27,b-idn-4495,cc-idn-1,2017-10-29,p-idn-0932,r-idn-iii-6944,98.47,3151.04

In [22]:
with open('./idn_test/patient_admissions_by_country.pkl', 'wb') as fh:
    dump(patient_admissions_by_country, fh)