In [1]:
import pandas as pd

In [2]:
from reports import CountryReports

# CountryReports

In [3]:
usa_instance = CountryReports('usa')

## Test Repositories

In [4]:
rooms_by_carecenter = usa_instance.rooms_by_carecenter()
rooms_by_carecenter

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854D7E6470>

    care_center_id         room_id    rate room_type
0         cc-usa-1     r-usa-i-119  410.26   Class I
1         cc-usa-1     r-usa-i-140  410.26   Class I
2         cc-usa-1     r-usa-i-185  410.26   Class I
3         cc-usa-1     r-usa-i-276  410.26   Class I
4         cc-usa-1     r-usa-i-327  410.26   Class I
..             ...             ...     ...       ...
192       cc-usa-2  r-usa-vvip-750  827.07      VVIP
193       cc-usa-2  r-usa-vvip-797  827.07      VVIP
194       cc-usa-2  r-usa-vvip-809  827.07      VVIP
195       cc-usa-2  r-usa-vvip-865  827.07      VVIP
196       cc-usa-2  r-usa-vvip-931  827.07      VVIP

[197 rows x 4 columns]

In [5]:
beds_by_room = usa_instance.beds_by_room()
beds_by_room

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854D894C70>

            room_id     bed_id care_center_id
0    r-usa-vvip-585  b-usa-696       cc-usa-2
1    r-usa-vvip-585    b-usa-9       cc-usa-2
2    r-usa-vvip-837  b-usa-135       cc-usa-2
3    r-usa-vvip-837   b-usa-39       cc-usa-1
4    r-usa-vvip-837  b-usa-399       cc-usa-2
..              ...        ...            ...
863   r-usa-vvip-48  b-usa-184       cc-usa-1
864   r-usa-vvip-48  b-usa-256       cc-usa-2
865   r-usa-vvip-48  b-usa-763       cc-usa-2
866   r-usa-vvip-48  b-usa-775       cc-usa-2
867   r-usa-vvip-48   b-usa-83       cc-usa-2

[868 rows x 3 columns]

In [6]:
carecenters_by_city = usa_instance.carecenters_by_city()
carecenters_by_city

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854D9D61D0>

  city care_center_id                         address    care_center_name
0    B       cc-usa-1  (65681 Chri, B, T, 18960, USA)  Global Health MVCH
1    D       cc-usa-2  (6367 Santa, D, I, 22391, USA)        MedStar MVCH

In [7]:
carecenters_by_state = usa_instance.carecenters_by_state()
carecenters_by_state

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854DBBB670>

  state care_center_id                         address    care_center_name
0     T       cc-usa-1  (65681 Chri, B, T, 18960, USA)  Global Health MVCH
1     I       cc-usa-2  (6367 Santa, D, I, 22391, USA)        MedStar MVCH

In [8]:
carecenters_by_country = usa_instance.carecenters_by_country()
carecenters_by_country

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854DC32C20>

  country care_center_id                         address    care_center_name
0     USA       cc-usa-1  (65681 Chri, Y, O, 18960, USA)  Global Health MVCH
1     USA       cc-usa-2  (6367 Santa, A, U, 22391, USA)        MedStar MVCH

In [9]:
patient_admissions_by_carecenter = usa_instance.patient_admissions_by_carecenter()
patient_admissions_by_carecenter

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854DCD63B0>

,care_center_id,admission_id,admitted_causes,admitted_date,bed_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total
0,cc-usa-1,adm-usa-0004,"Sever's disease calcaneal apophysitis, common ...",2013-06-05,b-usa-897,2013-06-18,p-usa-0541,r-usa-vip-929,710.26,9233.38
1,cc-usa-1,adm-usa-0005,Dry air nasal irritation,2014-12-20,b-usa-467,2014-12-30,p-usa-0103,r-usa-iii-10,135.42,1354.20
2,cc-usa-1,adm-usa-0006,Bowel obstruction intestinal blockage,2017-01-08,b-usa-826,2017-01-10,p-usa-0868,r-usa-i-984,331.44,662.88
3,cc-usa-1,adm-usa-0007,Foot swelling,2017-07-25,b-usa-374,2017-07-29,p-usa-0888,r-usa-vvip-303,829.53,3318.12
4,cc-usa-1,adm-usa-0015,Aseptic necrosis of bone bone death and destru...,2020-02-14,b-usa-729,2020-02-25,p-usa-0594,r-usa-vvip-26,829.53,9124.83
...,...,...,...,...,...,...,...,...,...,...
6246,cc-usa-2,adm-usa-9974,Vesicovaginal fistula connection between the b...,2016-09-07,b-usa-791,2016-09-08,p-usa-0851,r-usa-i-587,365.45,365.45
6247,cc-usa-2,adm-usa-9975,Calluses and corns,2016-11-05,b-usa-201,2016-11-11,p-usa-0005,r-usa-ii-471,243.95,1463.70
6248,cc-usa-2,adm-usa-9979,Hepatic encephalopathy confusion from liver fa...,2012-04-24,b-usa-232,2012-05-05,p-usa-0665,r-usa-vvip-597,943.95,10383.45
6249,cc-usa-2,adm-usa-9982,Carbuncle,2015-06-27,b-usa-783,2015-07-12,p-usa-0296,r-usa-iii-469,78.34,1175.10
6250,cc-usa-2,adm-usa-9999,"Plague bubonic plague, bacteria yersinia infec...",2013-04-06,b-usa-11,2013-04-22,p-usa-0218,r-usa-ii-824,243.95,3903.20

In [10]:
patient_admissions_by_room = usa_instance.patient_admissions_by_room()
patient_admissions_by_room

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854E3DCF70>

,room_id,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_rate_per_night,room_rate_total
0,r-usa-iii-195,adm-usa-0252,Parkinson's disease movement disorder,2021-12-27,b-usa-908,cc-usa-2,2022-01-04,p-usa-0169,78.34,626.72
1,r-usa-iii-195,adm-usa-0853,Facial trauma facial injury,2013-06-28,b-usa-706,cc-usa-1,2013-07-02,p-usa-0300,135.42,541.68
2,r-usa-iii-195,adm-usa-1011,Hypothermia extreme cold exposure,2019-01-01,b-usa-106,cc-usa-2,2019-01-20,p-usa-0526,78.34,1488.46
3,r-usa-iii-195,adm-usa-1857,Vaccination,2016-09-14,b-usa-491,cc-usa-2,2016-09-27,p-usa-0364,78.34,1018.42
4,r-usa-iii-195,adm-usa-2197,Subungual hematoma blood under nail,2019-11-08,b-usa-651,cc-usa-2,2019-11-10,p-usa-0502,78.34,156.68
...,...,...,...,...,...,...,...,...,...,...
6246,r-usa-vvip-995,adm-usa-8363,Parotitis salivary gland inflammation,2017-12-01,b-usa-164,cc-usa-2,2017-12-03,p-usa-0183,943.95,1887.90
6247,r-usa-vvip-995,adm-usa-8721,Rickets childhood bone disease,2012-03-18,b-usa-190,cc-usa-2,2012-03-28,p-usa-0452,943.95,9439.50
6248,r-usa-vvip-995,adm-usa-8850,Hematocele collection of blood around testicle,2019-09-27,b-usa-376,cc-usa-2,2019-10-01,p-usa-0214,943.95,3775.80
6249,r-usa-vvip-995,adm-usa-8999,acetaminophen overdose Adverse reaction to ace...,2017-04-02,b-usa-806,cc-usa-2,2017-04-09,p-usa-0663,943.95,6607.65
6250,r-usa-vvip-995,adm-usa-9588,"Respiratory failure breathing failure, ARDS",2019-10-20,b-usa-307,cc-usa-1,2019-11-07,p-usa-0266,829.53,14931.54

In [11]:
patient_admissions_by_city = usa_instance.patient_admissions_by_city()
patient_admissions_by_city

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854E983700>

,city,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total
0,H,adm-usa-0002,Gastritis stomach inflammation,2019-11-28,b-usa-210,cc-usa-2,2019-12-04,p-usa-0182,r-usa-vvip-856,943.95,5663.70
1,H,adm-usa-0009,"Warfarin Coumadin, Jantoven overdose",2014-03-10,b-usa-660,cc-usa-2,2014-03-26,p-usa-0419,r-usa-vvip-26,943.95,15103.20
2,H,adm-usa-0010,Hereditary hemorrhagic telangiectasia Osler We...,2016-08-15,b-usa-988,cc-usa-2,2016-09-14,p-usa-0064,r-usa-vip-808,736.90,22107.00
3,H,adm-usa-0011,Steroid abuse,2021-10-23,b-usa-282,cc-usa-2,2021-11-15,p-usa-0594,r-usa-vvip-331,943.95,21710.85
4,H,adm-usa-0012,AC joint separation acromioclavicular joint se...,2014-05-16,b-usa-710,cc-usa-2,2014-05-20,p-usa-0809,r-usa-iii-162,78.34,313.36
...,...,...,...,...,...,...,...,...,...,...,...
6246,G,adm-usa-9985,Inhalants abuse huffing,2016-08-09,b-usa-169,cc-usa-1,2016-08-13,p-usa-0949,r-usa-vvip-706,829.53,3318.12
6247,G,adm-usa-9988,Influenza seasonal flu,2021-02-10,b-usa-750,cc-usa-1,2021-02-18,p-usa-0684,r-usa-iii-469,135.42,1083.36
6248,G,adm-usa-9989,Foot fracture broken foot,2018-04-26,b-usa-793,cc-usa-1,2018-05-15,p-usa-0996,r-usa-vip-205,710.26,13494.94
6249,G,adm-usa-9993,"Loffler's syndrome pulmonary eosinophilia, lun...",2012-04-27,b-usa-944,cc-usa-1,2012-05-15,p-usa-0322,r-usa-i-741,331.44,5965.92
6250,G,adm-usa-9994,Parotitis salivary gland inflammation,2020-10-31,b-usa-413,cc-usa-1,2020-11-14,p-usa-0018,r-usa-iii-78,135.42,1895.88

Should match with carecenter's city

In [12]:
patient_admissions_by_state = usa_instance.patient_admissions_by_state()
patient_admissions_by_state

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854ED28940>

,state,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total
0,B,adm-usa-0004,"Sever's disease calcaneal apophysitis, common ...",2013-06-05,b-usa-897,cc-usa-1,2013-06-18,p-usa-0541,r-usa-vip-929,710.26,9233.38
1,B,adm-usa-0005,Dry air nasal irritation,2014-12-20,b-usa-467,cc-usa-1,2014-12-30,p-usa-0103,r-usa-iii-10,135.42,1354.20
2,B,adm-usa-0006,Bowel obstruction intestinal blockage,2017-01-08,b-usa-826,cc-usa-1,2017-01-10,p-usa-0868,r-usa-i-984,331.44,662.88
3,B,adm-usa-0007,Foot swelling,2017-07-25,b-usa-374,cc-usa-1,2017-07-29,p-usa-0888,r-usa-vvip-303,829.53,3318.12
4,B,adm-usa-0015,Aseptic necrosis of bone bone death and destru...,2020-02-14,b-usa-729,cc-usa-1,2020-02-25,p-usa-0594,r-usa-vvip-26,829.53,9124.83
...,...,...,...,...,...,...,...,...,...,...,...
6246,G,adm-usa-9974,Vesicovaginal fistula connection between the b...,2016-09-07,b-usa-791,cc-usa-2,2016-09-08,p-usa-0851,r-usa-i-587,365.45,365.45
6247,G,adm-usa-9975,Calluses and corns,2016-11-05,b-usa-201,cc-usa-2,2016-11-11,p-usa-0005,r-usa-ii-471,243.95,1463.70
6248,G,adm-usa-9979,Hepatic encephalopathy confusion from liver fa...,2012-04-24,b-usa-232,cc-usa-2,2012-05-05,p-usa-0665,r-usa-vvip-597,943.95,10383.45
6249,G,adm-usa-9982,Carbuncle,2015-06-27,b-usa-783,cc-usa-2,2015-07-12,p-usa-0296,r-usa-iii-469,78.34,1175.10
6250,G,adm-usa-9999,"Plague bubonic plague, bacteria yersinia infec...",2013-04-06,b-usa-11,cc-usa-2,2013-04-22,p-usa-0218,r-usa-ii-824,243.95,3903.20

Should match with carecenter's state

In [13]:
patient_admissions_by_country = usa_instance.patient_admissions_by_country()
patient_admissions_by_country

Accessing DC: usa
<cassandra.metadata.Metadata object at 0x000001854F476D40>

,country,admission_id,admitted_causes,admitted_date,bed_id,care_center_id,discharged_date,patient_id,room_id,room_rate_per_night,room_rate_total
0,USA,adm-usa-0002,Gastritis stomach inflammation,2019-11-28,b-usa-210,cc-usa-2,2019-12-04,p-usa-0182,r-usa-vvip-856,943.95,5663.70
1,USA,adm-usa-0004,"Sever's disease calcaneal apophysitis, common ...",2013-06-05,b-usa-897,cc-usa-1,2013-06-18,p-usa-0541,r-usa-vip-929,710.26,9233.38
2,USA,adm-usa-0005,Dry air nasal irritation,2014-12-20,b-usa-467,cc-usa-1,2014-12-30,p-usa-0103,r-usa-iii-10,135.42,1354.20
3,USA,adm-usa-0006,Bowel obstruction intestinal blockage,2017-01-08,b-usa-826,cc-usa-1,2017-01-10,p-usa-0868,r-usa-i-984,331.44,662.88
4,USA,adm-usa-0007,Foot swelling,2017-07-25,b-usa-374,cc-usa-1,2017-07-29,p-usa-0888,r-usa-vvip-303,829.53,3318.12
...,...,...,...,...,...,...,...,...,...,...,...
6246,USA,adm-usa-9988,Influenza seasonal flu,2021-02-10,b-usa-750,cc-usa-1,2021-02-18,p-usa-0684,r-usa-iii-469,135.42,1083.36
6247,USA,adm-usa-9989,Foot fracture broken foot,2018-04-26,b-usa-793,cc-usa-1,2018-05-15,p-usa-0996,r-usa-vip-205,710.26,13494.94
6248,USA,adm-usa-9993,"Loffler's syndrome pulmonary eosinophilia, lun...",2012-04-27,b-usa-944,cc-usa-1,2012-05-15,p-usa-0322,r-usa-i-741,331.44,5965.92
6249,USA,adm-usa-9994,Parotitis salivary gland inflammation,2020-10-31,b-usa-413,cc-usa-1,2020-11-14,p-usa-0018,r-usa-iii-78,135.42,1895.88
6250,USA,adm-usa-9999,"Plague bubonic plague, bacteria yersinia infec...",2013-04-06,b-usa-11,cc-usa-2,2013-04-22,p-usa-0218,r-usa-ii-824,243.95,3903.20

## Test Reports

### Line chart data

#### Revenues

In [14]:
patient_admissions_revenues_per_annum = usa_instance.patient_admissions_revenues_per_annum(patient_admissions_by_country)
patient_admissions_revenues_per_annum

{'id': 'usa',
 'data': [{'x': '2012', 'y': 3242468.7},
  {'x': '2013', 'y': 3363707.56},
  {'x': '2014', 'y': 3436874.73},
  {'x': '2015', 'y': 3218340.94},
  {'x': '2016', 'y': 3721537.19},
  {'x': '2017', 'y': 3738518.76},
  {'x': '2018', 'y': 3664421.98},
  {'x': '2019', 'y': 3673675.67},
  {'x': '2020', 'y': 3354161.97},
  {'x': '2021', 'y': 3299464.29}]}

In [15]:
patient_admissions_revenues_per_month = usa_instance.patient_admissions_revenues_per_month(patient_admissions_by_country, 2021)
patient_admissions_revenues_per_month

C:\Users\USER\Documents\IF5170\backend\services\reports.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['admitted_date'].dt.month

{'id': 'usa',
 'data': [{'x': '1', 'y': 358330.81},
  {'x': '2', 'y': 213855.08},
  {'x': '3', 'y': 246247.77000000002},
  {'x': '4', 'y': 318013.95},
  {'x': '5', 'y': 332289.91},
  {'x': '6', 'y': 213498.63},
  {'x': '7', 'y': 228734.12},
  {'x': '8', 'y': 317924.35},
  {'x': '9', 'y': 202597.8},
  {'x': '10', 'y': 302989.7},
  {'x': '11', 'y': 224657.18},
  {'x': '12', 'y': 340324.99}]}

In [16]:
patient_admissions_revenues_per_quarter = usa_instance.patient_admissions_revenues_per_quarter(patient_admissions_by_country, 2021)
patient_admissions_revenues_per_quarter

C:\Users\USER\Documents\IF5170\backend\services\reports.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['admitted_date'].dt.quarter
C:\Users\USER\Documents\IF5170\backend\services\reports.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['quarter'].map(quarter_dct)

{'id': 'usa',
 'data': [{'x': 'Q1', 'y': 818433.66},
  {'x': 'Q2', 'y': 863802.49},
  {'x': 'Q3', 'y': 749256.27},
  {'x': 'Q4', 'y': 867971.87}]}

### Bar Chart Data
#### Total admitted patients

In [17]:
patient_admissions_per_annum = usa_instance.patient_admissions_per_annum(patient_admissions_by_country)
patient_admissions_per_annum

   year  total_admitted_patients
0  2012                      614
1  2013                      636
2  2014                      632
3  2015                      611
4  2016                      640
5  2017                      641
6  2018                      646
7  2019                      623
8  2020                      611
9  2021                      597

In [18]:
patient_admissions_per_month = usa_instance.patient_admissions_per_month(patient_admissions_by_country, 2021)
patient_admissions_per_month

C:\Users\USER\Documents\IF5170\backend\services\reports.py:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['admitted_date'].dt.month

    month  total_admitted_patients
0       1                       58
1       2                       44
2       3                       50
3       4                       47
4       5                       57
5       6                       40
6       7                       48
7       8                       54
8       9                       43
9      10                       52
10     11                       48
11     12                       56

In [19]:
patient_admissions_per_quarter = usa_instance.patient_admissions_per_quarter(patient_admissions_by_country, 2021)
patient_admissions_per_quarter

C:\Users\USER\Documents\IF5170\backend\services\reports.py:199: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['admitted_date'].dt.quarter
C:\Users\USER\Documents\IF5170\backend\services\reports.py:206: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quarter'] = df['quarter'].map(quarter_dct)

  quarter  total_admitted_patients
0      Q1                      152
1      Q2                      144
2      Q3                      145
3      Q4                      156

### Table Data

In [21]:
revenues_by_state_per_annum = usa_instance.revenues_by_state_per_annum(patient_admissions_by_state)
revenues_by_state_per_annum

[{'year': 2012, 'state': 'B', 'total_revenues': 1460779.71, 'Country': 'usa'},
 {'year': 2012, 'state': 'G', 'total_revenues': 1781688.99, 'Country': 'usa'},
 {'year': 2013, 'state': 'B', 'total_revenues': 1687736.86, 'Country': 'usa'},
 {'year': 2013, 'state': 'G', 'total_revenues': 1675970.7, 'Country': 'usa'},
 {'year': 2014, 'state': 'B', 'total_revenues': 1716015.72, 'Country': 'usa'},
 {'year': 2014, 'state': 'G', 'total_revenues': 1720859.01, 'Country': 'usa'},
 {'year': 2015, 'state': 'B', 'total_revenues': 1462101.88, 'Country': 'usa'},
 {'year': 2015, 'state': 'G', 'total_revenues': 1756239.06, 'Country': 'usa'},
 {'year': 2016, 'state': 'B', 'total_revenues': 1811915.02, 'Country': 'usa'},
 {'year': 2016, 'state': 'G', 'total_revenues': 1909622.17, 'Country': 'usa'},
 {'year': 2017, 'state': 'B', 'total_revenues': 1759817.98, 'Country': 'usa'},
 {'year': 2017, 'state': 'G', 'total_revenues': 1978700.78, 'Country': 'usa'},
 {'year': 2018, 'state': 'B', 'total_revenues': 1837162.22, 'Country': 'usa'},
 {'year': 2018, 'state': 'G', 'total_revenues': 1827259.76, 'Country': 'usa'},
 {'year': 2019, 'state': 'B', 'total_revenues': 1805975.25, 'Country': 'usa'},
 {'year': 2019, 'state': 'G', 'total_revenues': 1867700.42, 'Country': 'usa'},
 {'year': 2020, 'state': 'B', 'total_revenues': 1528795.36, 'Country': 'usa'},
 {'year': 2020, 'state': 'G', 'total_revenues': 1825366.61, 'Country': 'usa'},
 {'year': 2021, 'state': 'B', 'total_revenues': 1619276.69, 'Country': 'usa'},
 {'year': 2021,
  'state': 'G',
  'total_revenues': 1680187.5999999999,
  'Country': 'usa'}]

In [22]:
patient_admission_by_state_per_year = usa_instance.patient_admission_by_state_per_year(patient_admissions_by_state)
patient_admission_by_state_per_year

[{'year': 2012,
  'state': 'B',
  'total_admitted_patients': 324,
  'Country': 'usa'},
 {'year': 2012,
  'state': 'G',
  'total_admitted_patients': 290,
  'Country': 'usa'},
 {'year': 2013,
  'state': 'B',
  'total_admitted_patients': 331,
  'Country': 'usa'},
 {'year': 2013,
  'state': 'G',
  'total_admitted_patients': 305,
  'Country': 'usa'},
 {'year': 2014,
  'state': 'B',
  'total_admitted_patients': 323,
  'Country': 'usa'},
 {'year': 2014,
  'state': 'G',
  'total_admitted_patients': 309,
  'Country': 'usa'},
 {'year': 2015,
  'state': 'B',
  'total_admitted_patients': 293,
  'Country': 'usa'},
 {'year': 2015,
  'state': 'G',
  'total_admitted_patients': 318,
  'Country': 'usa'},
 {'year': 2016,
  'state': 'B',
  'total_admitted_patients': 331,
  'Country': 'usa'},
 {'year': 2016,
  'state': 'G',
  'total_admitted_patients': 309,
  'Country': 'usa'},
 {'year': 2017,
  'state': 'B',
  'total_admitted_patients': 318,
  'Country': 'usa'},
 {'year': 2017,
  'state': 'G',
  'total_admitted_patients': 323,
  'Country': 'usa'},
 {'year': 2018,
  'state': 'B',
  'total_admitted_patients': 340,
  'Country': 'usa'},
 {'year': 2018,
  'state': 'G',
  'total_admitted_patients': 306,
  'Country': 'usa'},
 {'year': 2019,
  'state': 'B',
  'total_admitted_patients': 313,
  'Country': 'usa'},
 {'year': 2019,
  'state': 'G',
  'total_admitted_patients': 310,
  'Country': 'usa'},
 {'year': 2020,
  'state': 'B',
  'total_admitted_patients': 308,
  'Country': 'usa'},
 {'year': 2020,
  'state': 'G',
  'total_admitted_patients': 303,
  'Country': 'usa'},
 {'year': 2021,
  'state': 'B',
  'total_admitted_patients': 315,
  'Country': 'usa'},
 {'year': 2021,
  'state': 'G',
  'total_admitted_patients': 282,
  'Country': 'usa'}]